header {
    border: .2em solid black;
    border-radius: 5em;
    }
    
footer {
    border: .2em solid black;
    border-radius: 5em;
}


.topContainer {
    display: flex;
}

.columnLeft {
    flex: 1;
}

.columnRight{
    flex: 3;
}

.listBorder {
    border: .2em solid black ;
    margin: 1em;
    border-radius: 5px;
   
}

.friendsList__Item {
    display: inline-block;
    text-align: start;
    border: .2em solid black;
    border-radius: 5px;
    margin: 0.5em;
    padding: 1em;


}

.nextEvents {
display: flex;

}
.nextEvents__Item {
    border: .2em solid black;
    border-radius: 5px;
    margin: 0.5em;
    padding: 1em;


}   
.articlesList__Heading {
    display: flex;
justify-items: flex-end;
}
.articlesList {
    display: flex;
}
.articlesList__Item {
    border: .2em solid black;
    border-radius: 5px;
    margin: 0.5em;
    padding: 1em;

}

.messagesBoard {
    border: .2em solid black;
}

.messagesList {
    display: flex;
    flex-direction: column-reverse;
    overflow: scroll;
}

.messagesList__Item {
    border: .2em solid black;
    border-radius: 5px;
    margin: 0.5em;
    padding: 1em;

}

.eventsList {
    display: flex;

}

.eventsList__Item {
    border: .2em solid black;
    border-radius: 5px;
    margin: 0.5em;
    padding: 1em;


}

.tasksList {
    display: flex;
}
.tasksList__Item {
    border: .2em solid black;
    border-radius: 5px;
    margin: 0.5em;
    padding: 1em;

}